{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
        
    <div class="container my-3">
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="'text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="'text" class="form-control" id="desc" name="desc" />
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
    <div class="container my-3">

      {% if allTodo|length == 0 %}
        <h3 style="text-align: center;">No Record Found, Please Add One To Find Here...</h3>
  
        {% else %}
          
      <h3>My ToDo List</h3>
      <table class="table">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for todo in allTodo %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
              <a
                href="/update/{{todo.SNo}}"
                type="button"
                class="btn btn-outline-dark btn-sm"
                >Update</a
              >
              <a
                href="/delete/{{todo.SNo}}"
                type="button"
                class="btn btn-outline-dark btn-sm"
                >Delete</a
              >
            </td>
          </tr>
        
      {% endfor %}
    </tbody>
  </table>
      {% endif %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
 
    {% endblock body %}